<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SplitBook"
        tools:targetApi="31">
        <activity android:name=".activity.auth.LoginActivity" />
        <activity android:name=".activity.auth.RegisterActivity"/>
        <activity android:name=".activity.setup.GenreActivity" />
        <activity android:name=".activity.setup.LanguageActivity" />
        <activity android:name=".activity.setup.ReadingFormatActivity" />
        <activity android:name=".activity.setup.ProfileSetupActivity" />
        <activity android:name=".activity.home.HomePageActivity" />
        <activity android:name=".activity.profile.PublicProfileActivity" />
        <activity android:name=".activity.edit.EditGenresActivity" />
        <activity android:name=".activity.edit.EditLanguageActivity" />
        <activity android:name=".activity.edit.EditReadingFormatActivity" />
        <activity android:name=".activity.edit.EditProfileActivity" />
        <activity android:name=".activity.profile.FollowListActivity" />
        <activity android:name=".activity.profile.OtherProfileActivity" />
        <activity android:name=".activity.search.SearchProfilesActivity"/>
        <activity android:name=".activity.search.SearchBookActivity"/>
        <activity android:name=".activity.search.BookDetailActivity"/>
        <activity android:name=".activity.search.ProfileBokksActivity"/>
        <activity android:name=".activity.chats.AllChatsActivity"/>
        <activity android:name=".activity.chats.ChatActivity"/>
        <activity android:name=".activity.chats.CreateGroupChatActivity"/>
        <activity android:name=".activity.chats.ChatInfoActivity"/>
        <activity android:name=".activity.profile.FullscreenAvatarActivity"/>
        <activity
            android:name=".activity.auth.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>